@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-style: normal;
    background-color: #ffffff;
    font-weight: 400;
}

#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 30px; */
}

#navbar-container .navbar-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#navbar-container .navbar-content #logo {
    padding: 18px 16px 15px 37px;
    margin: 0px 40px 0px 0px;
}
#navbar-container .navbar-content #logo img {
    height: 30px;
}

#navbar-container .navbar-content ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    padding: 15px 30px 18px;
}
#navbar-container .navbar-content ul a {
    text-decoration: none;
    color: #777778;
    font-size: 15px;
}

#navbar-container .navbar-content ul a:hover {
    color: #008955
}
