@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    line-height: 1.2;
    font-style: normal;
    background-color: #ffffff;
    font-weight: 400;
}

/* navbar section styling */
#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 30px; */
    height: 12vh;
    border-bottom: solid 1px #f1f1f1;
}

#navbar-container .navbar-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
#navbar-container .navbar-content #logo {
    padding: 18px 16px 15px 37px;
    margin: 0px 40px 0px 0px;
}
#navbar-container .navbar-content #logo img {
    height: 30px;
}

#navbar-container .navbar-content ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    padding: 15px 30px 18px;
}
#navbar-container .navbar-content ul a {
    text-decoration: none;
    color: #777778;
    font-size: 15px;
}

#navbar-container .navbar-content ul a:hover {
    color: #008955
}

#navbar-container .navbar-content #shopping-cart{
    padding: 0px 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 2px #f1f1f1;
    border-left: solid 1px #f1f1f1;
}

#navbar-container .navbar-content #shopping-cart a path:hover{
    color: #008955;
}

#navbar-container .navbar-content #hover a{
    color: #008955;
    font-weight: bold;
    font-size: 15px;
    padding: 0px 30px;
    text-decoration: none;
}

/* main section styling */
.container{
    width: 1300px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 0px 15px;
}

/* main .hero section styling */
.hero{
    /* height: 640px; */
    position: relative;
    color: #ffffff;
    background-color: #000;
    
}
.hero .hero-bg-img{
    background-image: url(./assets/opendesk_bg-img-1200x640.jpg);
    /* background-position:center; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 640px;
    opacity: 0.6;
} 

.hero .hero-texts {
    position: absolute;
    top: 170px;
    left: 130px;
    max-width: 400px;
}

.hero .hero-texts #highlight {
    font-size: 2rem;
    font-weight: 400;
    margin: 28px 0px;
}

.hero .hero-texts #tagline  {
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin: 35px 0px;
}

.hero .hero-texts button {
    background-color: #008955;
    border: none;
    width: 180px;
    height: 46px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
}

/* Item-display section styling */
.item-display {
    background-color: #f1f1f1;
    color: #000000;
    text-align: center;
    padding: 50px 0px;
}

.item-display .item-display-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-display .item-display-row .items {
    width: 400px;
    height: 350px;
    margin: 20px 20px;
    border: solid 1px #f8f8f9;
}

.item-display .item-display-row .items a {
    text-decoration: none;
    color: #000;
}
.item-display .item-display-row .items img {
    display: block;
    width: 100%;
}

.item-display .item-display-row .items a > .items-title {
    font-weight: 400;
    margin: 11px 0px 21px;
}
.item-display .item-display-row .items a >.items-tagline {
    margin: 15px 0px;
}
/* Brand-identity styling */
.brand-identity {
    /* color: #ffffff; */
    position: relative;
    color: #ffffff;
    background-color: #000;
}
.brand-identity .brand-identity-img {
    background-image: url(./assets/opendesk_homepage_maker-feature_renatus.full_-1200x640.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 640px;
    opacity: 0.7;
}

.brand-identity .brand-identity-statements {
    position: absolute;
    top: 140px;
    left: 120px;
    max-width: 400px;
}
.brand-identity .brand-identity-statements #brand-identity-headline {
    font-size: 2rem;
    font-weight: 400;
    margin: 28px 0px;
}
.brand-identity .brand-identity-statements #brand-identity-tagline {
    font-size: 18px;
    line-height: 1.7rem;
    margin: 35px 0px;
    text-align: left;
}

/* Purchase process section styling */
.process {
    background-color: #f1f1f1;
    color: #000000;
    text-align: center;
    padding: 60px 0px;
}

.process .process-headline {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.process .process-steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
}

.process .process-steps .process-step-items {
    margin: 20px 10px;
    padding: 30px 0px;
}

.process .process-steps .process-step-items img {
    padding-bottom: 30px;
}
