@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-style: normal;
    background-color: #ffffff;
    font-weight: 400;
}

#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
}

#navbar-container .navbar-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}